.page-body {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @font-color;
  background-color: @white;
  margin: 0;
  min-width: 320px;
}

@media (min-width: @desktop-width) {
  .page-body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    // background-image: url("../../img/background/presentation-desktop.png");
    // background-repeat: no-repeat;
    // background-position: right -2px;

    // @media (min-resolution: 2dppx) {
    //   background-image: url("../img/bacground/presentation-desktop.png");
    //   background-size: 1205px auto;
    // }
  }

  .page-body__container {
    width: 1440px;
    background-image: url("../../img/background/presentation-desktop.png");
    background-repeat: no-repeat;
    background-position: right -2px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bacground/presentation-desktop.png");
      background-size: 1205px auto;
    }
  }

  .page-body--ineer {
    background-image: none;
  }
}
