.page-main__title {
  font-size: 36px;
  line-height: 1;
  color: @black;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
}

.page-main--inner {
  padding-top: 27px;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    font-size: 60px;
    margin-bottom: 54px;
  }
}
